<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>

    <ion-title>Buttons</ion-title>

    <ion-buttons slot="end">
        <ion-button color="danger">
            <ion-icon name="star"></ion-icon>
        </ion-button>
      <ion-button color="danger">
          <ion-icon name="heart"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content padding>
  <!-- Botones normales-->
  <ion-button size="small" expand="full">SMALL</ion-button>
  <ion-button size="default" expand="full">DEFAULT</ion-button>
  <ion-button size="large" expand="full">LARGE</ion-button>

  <!--Anchor-->
  <ion-button class="top-20" expand="full" routerLink="/alert" color="dark">
    Alert
  </ion-button>

  <!--ion-row + ion-col-->
  <ion-row class="top-20">
    <ion-col>
        <ion-button expand="full" routerLink="/avatar" color="dark">
          Avatar
        </ion-button>
    </ion-col>
    <ion-col>
        <ion-button expand="full" routerLink="/action-sheet" color="dark">
          Action Sheet
        </ion-button>
    </ion-col>
  </ion-row>

  <!--fill-->
  <ion-button class="top-20" fill="clear">Clear</ion-button>
  <ion-button class="top-20" fill="outline">Outline</ion-button>
  <ion-button class="top-20" fill="solid">Solid</ion-button>
</ion-content>